@layer canopee {
  .af-file-download {
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 18%);

    .af-file-download__content {
      display: flex;
      flex: 1;
      align-items: center;

      div {
        flex: 1;
      }
    }

    .af-file-download__icon {
      display: flex;
      width: 40px;
      height: 40px;
      margin-right: 1rem;
      border-radius: 0.25rem;
      align-items: center;
      justify-content: center;
      background-color: var(--axablue80);

      svg {
        width: auto;
        fill: var(--white);
      }
    }

    .af-file-download__subtitle {
      color: var(--gray80);
    }

    .af-file-download__actions {
      display: flex;
      margin-left: 3.5rem;
      gap: 1rem;
    }

    .af-file-download__content div:last-child {
      flex: 0;
      flex-basis: auto;
    }

    .af-title--container,
    .af-title {
      margin: 0;

      &::after {
        content: none;
      }
    }

    @media (--desktop-small) {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      .af-file-download__content div:last-child {
        margin-left: 2rem;
        flex: 1;
      }

      .af-file-download__actions {
        margin-left: 0;
      }
    }
  }
}
